// colors
$strongCyan: hsl(172, 67%, 45%);

$darkCyan: hsl(183, 100%, 15%);
$grayishCyan: hsl(184, 14%, 56%);
$grayishCyan-d: hsl(186, 14%, 43%);     // dark
$grayishCyan-l: hsl(185, 41%, 84%);     // light
$grayishCyan-ll: hsl(189, 41%, 97%);     // lighter
$white: hsl(0, 0%, 100%);


// font
$spaceMono: 'Space Mono', monospace;